header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;

    img {
        height: 40px;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 22px;
        font-weight: 600;
        margin-left: 32px;
        cursor: pointer;

        &:hover {
            color: rgba(255, 255, 255, 0.7);
        }
    }

}